Package: ytkiosk
Version: 0.0.1
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert McLeod <robert@penguinpower.co.nz>
Essential: no
Homepage: http://example.com
Installed-Size: 18518
Description: This is a description
  This is a longer description
  that takes up multiple lines
